<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 1)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[Boolean Operations](#boolean)**
5. **[Concatenation](#concatenation)**
6. **[Pseudo Codes](#pseudo)**

### Let's begin with some hands-on practice exercises

<a id="print"> </a>
## 1. Using print()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. To display a statement. For example, "Hello, How are you?" </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
print("Hello,How are you?")

Hello,How are you?

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Display the following pattern using print() </b>
                </font>
            </div>
        </td>
    </tr>
</table>

            *    
           ***    
          *****   
         *******  
        *********

In [7]:
var='''         *
        ***
       *****
      *******
     *********'''
print(var)b

         *
        ***
       *****
      *******
     *********

In [3]:
jack='''       *
      ***
     *****
    *******
   *********'''
print(jack)

       *
      ***
     *****
    *******
   *********

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write the alphabets 'A', 'B', 'C' on new lines using a single print function. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [57]:
var='''        A
        B
        C'''
print(var)

        A
        B
        C

In [4]:
jack='''A
b
c'''
print(jack)

A
b
c

<a id="types"> </a>
## 2. Data types

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Declare a string variable and check its data type.**

str

float

In [8]:
var  = "abcd"
var1 = 125
var2 = False
var3 = 10.5
type(var , var1 , var2 , var3)

TypeError: type() takes 1 or 3 arguments

In [19]:
var = "xyz"
var1 = 7
var2 =  True
var4 = "7.5"
type(var4)

str

**Declare a numeric variable and check its data type.** <br>
i. An interger variable.

In [12]:
# var =  '1234'
var = 1234
type(var)

int

ii. A fractional variable

In [21]:
var = (0.7 )
type(var)

float

**Declare a boolean variable and check its data type.**

In [21]:
var = True
type(var)

bool

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a complex number and assign it the name 'comp_var'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:

comp_var = (complex(2,3))
print(comp_var)

(2+3j)

In [37]:
gat = complex(10,4j)
print(gat)

(6+0j)

In [30]:
type(gat)

complex

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Convert a float variable f = 23.45 to integer.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [38]:
f = 23.45
print(f)
int(f)
type(int(f))

23.45

int

In [3]:
f= 23.45
type(f)
int(f)
print(f)

23.45

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Create a numberic variable and convert it to a string.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [37]:
a = 5
str(a)
type(str(a))

str

<a id="arithmetic"></a>
## 3. Arithmetic Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [50]:
import math
round((145*354)-1345/45+(462+23)/3)

51462

In [56]:
round(145*354-1345/45+(462+23)/3)

51462

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Evaluate  and print the results of the following <br>
                        <ol type = '1'> 
                            <li> 1353 plus 234 </li> 
                            <li> 2355 minus 346 </li>
                            <li> 234 times 457 </li>
                            <li> 25 divided by 6 </li>
                            <li> Obtain remainder of  25 divided by 6 </li>
                            <li> 33 raised to 4 </li> 
                            <li> 45 divided by 6  (floor division)
                            <li> 2 raised to 10</li></ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [55]:
print(1353+234)
print(2355-346)
print(234*457)
print(25/6)
print(25%6)
print(33**4)
print(45//6)
print(2**10)

1587
2009
106938
4.166666666666667
1
1185921
7
1024

In [54]:
import math
25%6

1

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Calculate BMI of a person (take input for height and weight from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:

height=float(input("enter height in mtrs-"))
weight=int(input("enter weight in kgs-"))
bmi=round(weight/(height**2),2)
print(bmi)

enter height in mtrs-1.73
enter weight in kgs-72
24.06

In [9]:
height = float(input("enter height in mtrs-"))
weight = int(input("enter weght in mtrs-")) 
bmi = round(weight/(height**2),2)
print(bmi)

enter height in mtrs-1.75
enter weght in mtrs-80
26.12

In [61]:
height = float(input("enter the height in mtrs -"))
weight = int(input("enter the weight kgs -"))
bmi = round(weight/(height**2),1)
print(bmi)

enter the height in mtrs -1.68
enter the weight kgs -85
30.1



## 4. Boolean Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src
                ="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [82]:
a=((54+35)*45)
b=((0.9*2432)/0.9)

if(a==b):
    print('yes')
else:
    print('no')

no

In [65]:
mj = (54+34)*45
nj = (0.9*2432)/0.9
if(a==b):
    print("mj=nj")
else:
            print("they are not equal")

they are not equal

<a id="concatenation"></a>
## 5. Concatenation


<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Create two strings and concatenate them using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
a= str("apple")
b= str(" falls")
c= (a+b)
print(c)

apple falls

In [15]:
a = str("man loves")
b = str(" woman ")
c = a+b
print(c)

man loves woman

In [67]:

a = "love "
b = "matters"
c = a + b
print(c)

love matters

In [66]:
a= str(" he ")
b= str(" she ")
c= (a+b)
print(c)

 he  she

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Concatenate the variables 'num = 34 and 'string ='How old are you?' using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [67]:
num= (" 34 ")
string =(" how old are you -")
new = (string + num)
print(new)

 how old are you - 34

In [21]:
num = ("31")
string =("How old are you -")
num_string =  string + num
print(num_string)

How old are you -31

<a id="pseudo"> </a>
## 6. Pseudo Codes

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [69]:
### preparing  table  for a number

a = 5

### using for loop for table preparing till first ten natural numbers

for i in range (1,11):
    
### prearing multiple of thatb numaber in proper table format    

     print(a ,'*' ,i ,"=" ,a*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [30]:
# preparing table for a number
a = 8
# using for loop for table preparing till first ten natural numbers
for i in range(1,11):  
     print(a,"*", i ,"=",a*i)

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a pseudo code for generating a fibonacci series starting with 0 and 1 for 10 values using while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [74]:
first=0
second=1
i=0

while i <=10 :
    print(first,end=" ")
    third = first + second
    fourth = third + second
    first = second
    second=third
    third = fourth
    i += 1

0 1 1 2 3 5 8 13 21 34 55

In [10]:
a=1
b=5
i=0

while i <=10:
    print(a,end=" ")
    c=a+b
    a=b
    b=c
    i += 1

1 5 6 11 17 28 45 73 118 191 309

In [33]:
a=0
b=1
i=0

while i <=0:
    print(a,end="  ")
    c=a+b
    a=b
    b=c
    i+=1

0 1 1 2 3 5 8 13 21 34 55

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a pseudo code to know whether a number is greater than the other using 'if' statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [88]:
first = int(input(" enter a number :"))
second = int(input("enter a number :"))
if first > second :
    print("number is greater ")
else:
                    print("number is smaller :")

 enter a number :20
enter a number :15
number is greater

In [11]:
# pseuso code to know whether a number is greater than the other using if, else statement.
#lets assume two numbers as 'a' and 'b' and put them in if else condition.   
a=5
b=8
# comparing 'a' and 'b' 
if a < b:
# if condition satisfy print 'yes' else 'no'.
    print('yes')
else:
      
    print('no')

yes

In [19]:
NUM1=9
NUM2=7
if NUM1 > NUM2:
    print("YES NUM1 IS GREATER ")
else:
    print("NO, NUM2 IS GREATER")

YES NUM1 IS GREATER

In [35]:
a=75
b=80
if a > b:
    print("+")
else:
    print("-")

-

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a pseudo code to check whether a number is divisible by 7 or not using if else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [65]:
# check the number is divisible by 7 with if and else statement.
#lets do it through taking input as user  assuming  num. 
num = int(input('enter a number-'))
if num % 7== 0:
    print ( 'divsible by 7')
else:
    print( 'not divisible by 7')

enter a number-49
divsible by 7

In [38]:
num = int(input("enter the number-"))
if num % 7==0:
    print("divisible")
else:
        print("not")

enter the number-49
divisible

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a pseudo code to find factorial of a number using nested if-else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [74]:
# check the factorial of a number provided by the user.

# change the value for a different result


# To take input from the user
num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 9
The factorial of 9 is 362880

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a pseudo to know whether a number is prime or not using for and if else statement.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [60]:
# Program to check if a number is prime or not

num = 407

# To take input from the user
#num = int(input("Enter a number: "))

# prime numbers are greater than 1
if num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

407 is not a prime number
11 times 37 is 407

In [90]:
import math 
print(""" 
press -  
1 - Addition(x, y) 
2 - subtraction(x,y) 
3-multiplication(x,y) 
4 - division(x, y) 
5- exponent(x, y) 
6 - tan(x, y) 
7 - sin(x) 
8 - cos(x) 
9 - factorial(x) 
10 - log(x) 
""") 
o = input("") 
if o == "1": 
    x = int(input("1st number -")) 
    y = int(input("2nd number -")) 
    add(x, y) 
    print(x + y) 
elif o == "2": 
    x = int(input()) 
    y = int(input()) 
    subtract(x, y) 
    print(x-y) 
elif o == "3": 
    x = int(input()) 
    y = int(input()) 
    print(x*y) 
elif o == "4": 
    x = int(input()) 
    y = int(input()) 
    print(x/y) 
elif o == "5": 
    x = int(input()) 
    y = int(input()) 
    print(x**y) 
elif o == "6": 
    x = int(input()) 
    y = int(input()) 
    print(math.tan(x)) 
elif o == "7": 
    x = int(input()) 
     
    print(math.sin(x)) 
elif o == "8": 
    x = int(input()) 
    cos(x) 
elif o == "9": 
    x = int(input()) 
    print(math.factorial(x)) 
elif o == "10": 
    x = int(input()) 
    print(math.log(x))

press -
1 - Addition(x, y)
2 - subtraction(x,y)
3-multiplication(x,y)
4 - division(x, y)
5- exponent(x, y)
6 - tan(x, y)
7 - sin(x)
8 - cos(x)
9 - factorial(x)
10 - log(x)

1
1st number -9
2nd number -8

NameError: name 'add' is not defined