<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Import the required libraries**

In [1]:
# type your code here
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import scipy.stats as stats

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A financial firm AlpaMoney has recently started their online payment gateway and claims that the level of customer satisfaction about the transactions is the same as that of their competitor firm PayEarly. Consider the equality of an average level of satisfaction as the null hypothesis and test the claim using a critical value method with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<img src='2_z.png'>

In [1]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The economic journal claims that the students who graduated from tier 1 universities get more salary than the average salary of 35000$. A random sample of 20 graduated students is selected to test the claim. Use p-value criteria to test the claim with 0.1 as a level of significance.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:

        salary = [29560, 26534, 31020, 44300, 52335, 69190, 71100, 80100, 90000, 41002, 46118, 88129, 79713, 95881, 47989,
                  15188, 91631, 96189, 77819, 79590]

#### Null Hypothesis:
The average salary <= 35000
#### Alternate Hypothesis:
The average salary > 35000

In [3]:
# type your code here
salary = [29560, 26534, 31020, 44300, 52335, 69190, 71100, 80100, 90000, 41002, 46118, 88129, 79713, 95881, 47989,
              15188, 91631, 96189, 77819, 79590]

In [5]:
teststats , pvalue = stats.ttest_1samp(salary ,35000)
print("P Value: ",pvalue)

P Value:  0.00013089401652720034

Since P Value < 0.01 so we reject the  null hypothesis so we conclude that  the students who graduated from tier 1 universities get more salary than the average salary of 35000

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Amy and Susan are national level swimmers. Their coach conducts five rounds each of 400 m and records the time taken by the individuals. Perform a two sample t-test to test whether there is any difference between the average time taken by Amy and Susan. Use 0.05 as a level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the timing (in minutes) given below:

        Amy_time = [4.2, 3, 3.8, 5, 4.6]
        Susan_time = [5.2, 4.6, 3.9, 4.4, 5]

#### Null Hypothesis:
The average time taken by Amy and Susan is same
#### Alternate Hypothesis:
The average time taken by Amy and Susan is different

In [6]:
# type your code here
Amy_time = [4.2, 3, 3.8, 5, 4.6]
Susan_time = [5.2, 4.6, 3.9, 4.4, 5]

In [11]:
# Perform Shapiro and Levene's test

print(stats.shapiro(Amy_time))
print(stats.shapiro(Susan_time))
print(stats.levene(Amy_time , Susan_time))
# Inference: Since p value > 0.05 so conclude that the data is normal and variances are equal for both the samples.

ShapiroResult(statistic=0.978716254234314, pvalue=0.9276370406150818)
ShapiroResult(statistic=0.9711568355560303, pvalue=0.8826254606246948)
LeveneResult(statistic=0.5586206896551716, pvalue=0.47620846378024845)

In [9]:
teststats , pval = stats.ttest_ind(Amy_time , Susan_time)
print("P Value: " , pval)

P Value:  0.26087578765496466

Since p value > 0.05 so we fail to reject the null hypothesis that is  there is no difference between the average time taken by Amy and Susan.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. A multinational company had organized a presentation activity to test the soft skills of their 6 sales executives and then offered them a skill development course. After the completion of the course, the executives again appeared for the presentation and the scores before and after the course are recorded. Test the company's claim that the course was effective in developing soft skills with 90% confidence using the p-value technique.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the scores given in the file `paired_data.xlsx`

In [12]:
# type your code here
paired = pd.read_excel("paired_data.xlsx")
paired.head()

   before_score  after_score
0            23           32
1            38           36
2            35           48
3            45           47
4            32           40

#### Null Hypothesis:
The course is not effective in developing soft skills.
#### Alternate Hypothesis:
The course is effective in developing soft skills.

In [14]:
# Perform Shapiro and Levene's test

print(stats.shapiro(paired["before_score"]))
print(stats.shapiro(paired["after_score"]))
print(stats.levene(paired["before_score"] , paired["after_score"]))
# Inference: Since p value > 0.05 so conclude that the data is normal and variances are equal for both the samples.

ShapiroResult(statistic=0.9983048439025879, pvalue=0.999838650226593)
ShapiroResult(statistic=0.903013288974762, pvalue=0.39204761385917664)
LeveneResult(statistic=0.02107481559536362, pvalue=0.8874596836271523)

In [13]:
test_stats , pval = stats.ttest_rel(paired["before_score"] , paired["after_score"])
print("P Value: " , pval)

P Value:  0.03993727174744146

Since pvalue > 0.01 so we fail to ject the null hypothesis that is the course was not effective in developing soft skills.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. A survey conducted by the department of education states that the proportion of students who quit education due to financial crisis is more than 38%. To test this claim a group of 450 students is selected out of which 205 are found to be dropped out from school due to financial crisis. Test the claim using a critical value method with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Null Hypothesis:
P <= 0.38
#### Alternate Hypothesis:
P > 0.38

In [17]:
alpha = (1 - 0.95)
z_crit = stats.norm.isf(alpha)
print("Z Critical: ",z_crit)

p = 205 / 450

hypo_mean = 0.38

z_proportion = (p - hypo_mean) / np.sqrt((hypo_mean * (1 - hypo_mean)) / n)
print("Test Statistics: ",z_proportion)

Z Critical:  1.6448536269514722
Test Statistics:  0.6961354623524837

Since test statistic < CV so we fail to reject the null hypothesis that is the proportion of students who quit education due to financial crisis is not more than 38%

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Two leading medical institutes CureOn and MedFirst have produced new vaccines on ebola. The vaccine produced by CureOn is given to 252 people in the UK out of which 78 had severe side-effects also the vaccine produced by MedFirst is given to 425 people in the UK out of which 92 had severe side-effects. Can we conclude that the vaccine produced by MedFirst is more reliable? Test the claim using p-value technique with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Null Hypothesis:
p1 = p2
#### Alternate Hypothesis:
p1 != p2

In [27]:
# type your code here
cureon_total = 252
cureon_eff = 78

medfirst_total = 425
medfirst_eff = 92

import statsmodels.api as sm

zprop , pval = sm.stats.proportions_ztest(count = np.array([cureon_eff ,medfirst_eff]) ,
                                             nobs = np.array([cureon_total , medfirst_total]))
print("P Value: ",pval)

P Value:  0.006956226005468977

Since Pvalue < 0.01 so we reject our null hypothesis that the vaccine produced by medfirst is more reliable.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. A research paper in the medical journal claims that the average height of females in Nebraska is less than 168 cm. A group of physicians conducted a survey and collected the heights of 95 females from Nebraska, and recorded the average height as 163 cm with a standard deviation of 7 cm. Assume that the sample is drawn from a normally distributed population. Test the claim in the research paper using the 95% confidence interval for the population mean.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Null Hypothesis:
mew >= 168
#### Alternate Hypothesis:
mew < 168

In [37]:
# type your code here
popmean = 168

n = 95

sampmean = 163
sampsd = 7

se = sampsd / np.sqrt(n)

interval = stats.norm.interval(0.95 ,loc = sampmean-popmean ,scale =  se)
print("the 95% confidence interval for the population mean: ",interval)

the 95% confidence interval for the population mean:  (-6.40761643330326, -3.59238356669674)

Since pop mean is not there in the interval so say that we reject our null hypothesis.